{% extends "SonataAdminBundle:CRUD:list.html.twig" %}

{% block navbar_title %}
    {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
    {% include 'SIPAdminTreeBundle:Button:tree_button.html.twig' %}
{% endblock %}

{% block actions %}
    {% spaceless %}
        {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
            <li>{% include 'SonataAdminBundle:Core:create_button.html.twig' %}</li>
        {% endif %}
        <li>{% include 'SIPAdminTreeBundle:Button:tree_button.html.twig' %}</li>
    {% endspaceless %}
{% endblock %}